* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(255, 143, 143); */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(253, 245, 235);
}

main > h1 {
    font-size: 40px;
    font-style: italic;
    margin: 150px 0 40px;
    color: rgb(70, 70, 70);
}

main > .card {
    width: 600px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

main > .card > .top-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 30px;
}

main > .card > .top-container > h1 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(71, 71, 71);
}

main > .card > .top-container > .btn-container {
    display: flex;
    align-items: center;
}

main > .card > .top-container > .btn-container > .btn {
    font-size: 20px;
    cursor: pointer;
    color: rgb(201, 178, 50);
    transition: all 0.3s ease-in-out;
}

main > .card > .top-container > .btn-container > .btn:hover {
    transform: rotate(60deg);
}

main > .card > .top-container > .btn-container > .btn-minus {
    display: none;
}

main > .card.open-card > .top-container > .btn-container > .btn-minus {
    display: block;
}

main > .card.open-card > .top-container > .btn-container > .btn-plus {
    display: none;
}

main > .card > .bottom-container {
    border-top: 1px solid rgb(206, 182, 45);
    margin: 0 30px;
    padding: 20px 30px 30px 0;

    display: none;
}

main > .card.open-card > .bottom-container {
    display: block;
}

main > .card > .bottom-container > p {
    line-height: 30px;
    letter-spacing: 1px;
    color: rgb(71, 71, 71);
}
